.data{
  position: relative;
  max-width: 1000px;
  margin: 30px auto 0;
}

.data-row{
  margin: 0 0 10px;
}


@media (min-width: 992px) {



}


@media (min-width: 768px) and (max-width: 991px) {



}

@media (max-width: 767px) {



}
